@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
    /* this wont let padding cause overflows */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    background-color: whitesmoke;
}

h1 {
    letter-spacing: 10px;
    text-align: center;
    font-size: 40px;
    margin: 25px 0 15px 0;
}

/* Loader */

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* image container */
.image-container {
    margin: 10px 20%;
}
.image-container img {
    width: 100%;
    margin-top: 5px;
}

@media screen and (max-width: 600px) {
    .image-container {
        margin: 10px;
    }
}
